# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.idb
.vs/ClassParticipationTracker/v16/.suo
Debug/vc142.pdb
Debug/vc142.idb
Debug/ClassParticipationTracker.pdb
Debug/ClassParticipationTracker.log
Debug/ClassParticipationTracker.ilk
Debug/ClassParticipationTracker.Build.CppClean.log
Debug/ClassPar.2d731fab.tlog/link.read.1.tlog
Debug/ClassPar.2d731fab.tlog/CL.write.1.tlog
Debug/ClassPar.2d731fab.tlog/CL.read.1.tlog
Debug/ClassPar.2d731fab.tlog/CL.command.1.tlog
.vs/ClassParticipationTracker/v16/ipch/AutoPCH/bfa24ea5ad32d74a/COURSE.ipch
.vs/ClassParticipationTracker/v16/ipch/AutoPCH/68f22e28712d9580/STUDENT.ipch
.vs/ClassParticipationTracker/v16/Browse.VC.opendb
.vs/ClassParticipationTracker/v16/Browse.VC.db-wal
.vs/ClassParticipationTracker/v16/Browse.VC.db-shm
.vs/ClassParticipationTracker/v16/Browse.VC.db
.vs/ClassParticipationTracker/v16/.suo
